<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borisav Grujicic - Certified Salesforce Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-image: url('{{ url_for('static', filename='coding-photo.jpg') }}'); background-size: cover; background-position: center;">    <header>
        <h1>Borisav Grujicic / Certified Salesforce Developer</h1>
    </header>

    <div class="container">
        <div class="about-me">
            <h2>About Me:</h2>
            <p>
                As a Salesforce developer, I am dedicated to empowering businesses to optimize their operations and achieve success through tailored Salesforce solutions. With a keen understanding of business needs, I specialize in designing and implementing custom solutions using Apex, Lightning Web Components (LWC), Visualforce, and other Salesforce technologies.
            </p>
            <p>
                My expertise extends beyond development; I excel in communication and collaboration, effectively bridging the gap between technical requirements and business objectives. I bring a proven track record of leveraging Salesforce integrations with third-party applications and platforms to streamline processes and enhance efficiency.
            </p>
            <p>
                Driven by a passion for continuous growth, I am committed to staying at the forefront of Salesforce innovation, always seeking new challenges and opportunities to expand my skills and deliver exceptional results.
            </p>
            <p>
                If you're looking to elevate your Salesforce CRM, implement new features and processes, or simply explore opportunities for improvement, I invite you to connect with me at:
                <a href="mailto:borko.grujicic@gmail.com">borko.grujicic@gmail.com</a>
            </p>
        </div>
    </div>

    <section class="services">
        <h2>Services:</h2>
        <ul>
            <li>Service 1</li>
            <li>Service 2</li>
            <li>Service 3</li>
            <!-- Add more services as needed -->
        </ul>
    </section>
</body>
</html>
